@charset "UTF-8";
@import "rightText.css";
@import "footer.css";

.article_ul{
	width: 762px;
	height: 3646px;
	background-color: #fff;
	margin-left: 70px;
	border: none;
}

.article_title{
	display: inline-block;
	font-weight: 400;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.article_content{
	position: relative;
	margin-left: 15px;
	margin-top: 20px;
	white-space: nowrap;
}

.em{
	display: inline-block;
}

.article_img{
	width: 200px;
	height: 150px;
	border-radius: 5px;
}

.article_description{
	position: relative;
	display: inline-block;
	height: 150px;
	overflow: hidden;
	margin-left: 10px;
	text-align: left;
	top: 0;
}

.article_profile{
	margin-top: 20px;
	margin-bottom: 65px;
	font-size: 16px;
	color: #666;
}


.font{
	margin-right: 12px;
	font-size: 14px;
	color: #666;
}

.mright:link,.mright:visited{
	color: #666666;
}

#layPage{
	width: 752px;
	height: 50px;
}

.layui_box{
	position: relative;
	width: 658px;
	height: 30px;
	top: 50%;
	left: 45%;
	margin-left: -209px;
	margin-top: 15px;
}

.layui_layPage{
	display: inline-block;
	text-decoration: none;
	padding: 0 15px;
	height: 28px;
	line-height: 28px;
	margin: 0 -1px 5px 0;
	border: 1px solid silver;
	color: #333;
	font-size: 12px;
	margin: 0 5px;
}

.layui_layPage:hover{
	color: darkorange;
}

.layui_box li{
	float: left;
}


.gus_you_like{
	width: 764px;
	height: 75px;
	background-color: white;
	margin: 24px 0 24px 68px;
}

.like_recommend{
	width: 724px;
	height: 19px;
}

.like_li{
	float: left;
	margin-right: 20px;
	margin-top: 26px;
}


.like_spa{
	font-size: 14px;
	float: left;
	margin-top: 29px;
	margin-right: 20px;
	text-indent: 20px;
}


.like_a{
	text-decoration: none;
	font-size: 14px;
}

.like_a:link,.like_a:visited{
	color:orange;
}

.content_a,.font{
	text-decoration: none;
}

.content_a:hover,.mright:hover{
	color: darkorange;
}


.for_you{
	width: 763px;
	height: 382px;
	background-color: white;
	margin-left: 68px;
	position: relative;
	margin-bottom: 24px;
}

.gus_swiper{
	width: 723px;
	height: 280px;
}

.gus_title{
	position: relative;
	top:15px;
	font-weight: 300;
	margin-left: 25px;
}

.gus_repice{
	width: 213px;
	height: 137px;
	float: left;
	margin-top: 30px;
	margin-bottom: 5px;
	margin-left: 28px;
}
	
.gus_img{
	width: 223px;
	height: 137px;
	
}

.gus_text{
	position: relative;
	bottom: 40px;
	width: 213px;
	height: 68px;
	font-size: 16px;
	font-weight: 600;
	margin-left: 20px;
	color: white;
	background-color: rgba(0,0,0,.1);
}

.to_gus{
	text-decoration: none;
}

.rad{
	position: absolute;
	right: 20px;
	margin-right: 20px;
}

input[type = "radio"]{
	display: none;
	cursor: pointer;
}

input[type='radio'] + label:before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid lightskyblue;
}

input[type="radio"]:checked + label:before{
	border: none;
    background-color: darkorange;
}

label{
	margin-left: 10px;
}

.article_info{
	width: 763px;
	height:313px;
	background-color: white;
	margin-left: 68px;
}

.tjcp_top{
	width: 763px;
	height: 61px;
	border-bottom: 1px solid rgba(153,153,153,.1);
	margin-bottom: 10px;
}

.tjcp_li{
	margin-right: 30px;
	margin-top: 20px;
	text-indent: 30px;
	float: left;
}

.tjcp_info{
	width: 763px;
	height: 252px;
}

.info_li{
	width: 235px;
	height:27px;
	font-size: 18px;
	margin-left: 18px;
	float: left;
	margin-top: 15px;

}

.info_a,.info_a:visited{
	text-decoration: none;
	color: #999;
}

.info_a:hover{
	color: darkorange;
}