@charset "utf-8";
/* 底部链接 */


.footer {
	width: 100%;
	min-width: 1200px;
	background: #535353;
	position: relative;
	bottom: 0;
	overflow: hidden;
	margin: 0 auto;
}

.link {
	margin-left: 50px;
	width: 792px;
	height: auto;
}
.link-top {
	width: 792px;
	height: 72px;
	background: #FFFFFF;
}
.lt1 {
	float: left;
	color: #666;
	line-height: 72px;
	padding-left: 20px;
}
.lt2 {
	float: left;
	line-height: 36px;
	color: #FFC000;
}
.lt3 {
	padding-top: 25px;
	padding-right: 20px;
}
.share-item {
	float: right;
	width: 26px;
	height: 26px;
	margin-right: 8px;
}
.link-middle {
	width: 792px;
	height: auto;
	background: #FFFFFF;
}
.tjcp {
	color: #333333;
	padding-top: 20px;
	padding-left: 20px;
}
.tjcp-tupian {
	width: 243px;
	height: 180px;
	padding-left: 14px;
	padding-bottom: 6px;
	border-radius: 10%;
}

.link-bot1 {
	width: 792px;
	height: 62px;
	background: #FFFFFF;
}
.xgtj li{
	display:block;
	float: left;
	color: #666666;
	font-size: 16px;
	padding-left: 30px;
	padding-top: 20px;
}
.link-bot2 {
	width: 792px;
	height: 240px;
	background: #FFFFFF;
}
.xgtj2 li {
	margin-top: 18px;
	width: 250px;
	height: 17px;
	font-size: 18px;
	margin-top: 25px;
	list-style-type: none;
	float: left;
	text-align: left;
}


.left {
	float: left;
	width: 450px;

	padding-top: 24px;
	margin-bottom: 42px;
	margin-top: 50px;
	margin-left: 80px;
}

.logo>img {
	width: 54px;
	height: 54px;
	float: left;
	padding-right: 15px;
}

.txt {
	color: #FFFFFF;
	opacity: 0.7;
}

.logo_text {
	font-size: 20px
}

.a {
	margin-top: 40px;

}

.a>p {
	line-height: 30px;
	font-size: 15px;
	color: #FFFFFF;
	opacity: 0.7;
}



.qr_img {
	width: 92px;
	height: 92px;
	display: block;
	margin: 0 auto;
	padding-bottom: 15px;
}



.right {
	position: absolute;
	float: right;
	right: 60px;
	padding-left: 20px;
	padding-top: 24px;
	margin-bottom: 42px;
	margin-top: 50px;
}

.bot_b {
	width: 126px;
	float: left;
	text-align: center;
	margin-right: 19px;
	margin-left: 15px;
	font-weight: 100;
	color: #FFFFFF;
}

.link_src{
	position: absolute;
	width: 1160px;
	height: 49px;
	bottom: 150px;
	left: 75px;
	border-bottom: 1px solid rgba(153,153,153,0.3);
}

.link_text{
	color: #999999;
	float: left;
	margin-right: 40px;
	font-size: 14px;
}

.link_spa{
	text-decoration: none;
	font-size: 14px;
	float: left;
	margin-right: 40px;
	margin-top: 2px;
}

.link_spa:link,.link_spa:visited{
	color:#999;
}

.inner {
	clear: initial;
	width: 720px;
	margin: 0 auto;
	text-align: center;
	padding: 30px 0;
	padding-left: 20px;
	margin-bottom: 42px;
	margin-top: 400px;
	color: rgba(153,153,153,1);
	font-size: 14px;
}

.inner>ul {
	list-style-type: none;
}

.inner_li {
	display: inline-block;
}

.inner_li>a {
	color: rgba(153,153,153,1);
}

/* 鼠标悬停 */
.nav {
	position: fixed;
	top: 50%;
	right: 10px;
	/*重值浏览器自带的样式*/
	margin: -64px 0 0;
	list-style-type: none;
	padding: 0;
}

.nav>li {
	position: relative;
	/*相对定位 不会脱离文档流让元素的子元素进行绝对定位时作为参照点*/
	/*box-sizing指定盒子模型的方式 border-box表示边框盒子模型是以指定的宽度和高度作为最终的大小，
			指定的边框联合和内边距都在宽度和高度的范围之内*/
	box-sizing: border-box;
	width: 54px;
	height: 54px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
	font-size: 12px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.nav_a {
	text-decoration: none;
	color: #333
	background: url(../images/icon_wx.png) no-repeat;
}

.hover {
	display: none;
	position: absolute;
	top: 0;
	right: 100%;
	padding-right: 10px;
}

.hoverbox {
	width: 180px;
	height: 116px;
	font-size: 14px;
	padding: 10px;

}

.nav>li:hover .hover {
	display: block;
	/*让元素以块的方式来显示*/
}

.up_img{
	background-color: #999999;
	background-image: url('../foot_img/up.png');
	background-repeat: no-repeat;
	background-position: 50%;
	line-height: 29px;
}

.dl_img{
	background-image: url('../foot_img/rightlogo.png');
	background-repeat: no-repeat;
	background-size: 100%;
}


.up_a:link,.up_a:visited{
	color: #fff;
}

#meishi_top{
	text-decoration: none;
}

.colord3{
	text-decoration: none;
}

#meishi_top:hover,.colord3:hover,.link_spa:hover{
	color: goldenrod;
}

