*.settings/
*/.settings/
*/target
*.classpath
*.factorypath
*.project
*.class
*.log
/ecook-manage/*.classpath
/ecook-manage/*.factorypath
/ecook-manage/*.project
/ecook-manage/target
/ecook-manage/.settings
/.settings
/*.project
