@charset "UTF-8";
@import "autoSlide.css";

/* 右端内容总大小 */
.article_items{
	display: inline-block;
	position: absolute;
	width: 408px;
	height: 2983px;
	float: left;
	top: -25px;
	right: 100px;
}

/* 热门+最新文章共用样式 */
.article_hot{
	width: 384px;
	height: 950px;
	background-color: #fff;
	margin: 24px 0 0 20px;
	padding: 20px;
}

.article_mtop{
	width: 344px;
	height: 657px;
	background-color: #fff;
	margin: 24px 0 0 45px;
	padding: 20px;
}

.mtop_son{
	width: 344px;
	height: 657px;
}

.ms{
	width: 334px;
	height: 617px;
	line-height: 24px;
	font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}

.article_hot a{
	text-decoration: none;
}

.hot_text{
	font-size: 20px;
	color: #333;
	line-height: 27px;
	font-weight: 400;
	margin-bottom: 15px;
}

/* 图片样式 */
.hot_img{
	width: 115px;
	height: 85px;
	margin-bottom: 4px;
}

/* 图片文字介绍 */
.hot_name{
	width: 229px;
	height: 27px;
	font-size: 17px;
	line-height: 27px;
	color: #333333;
	float: right;
}

/* 热门菜谱 */
.meau_rank{
	width: 49%;
	display: inline-block;
	font-size: 16px;
	color: #333;
	line-height: 21px;
	margin-top: 16px;
	overflow: hidden;
	white-space: nowrap;        /* 强制文字不允许换行 */
}

.rank1{
	display: inline-block;
	color: #ffc000;
	font-size: 20px;
	font-weight: bold;
	margin-right: 10px;
}

.rank2{
	color: #999999;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	margin-right: 10px;
}

.rank3{
	text-decoration: none;
	display: inline-block;
	width: auto;
	height: 100%;
	cursor: pointer;
	font-size: 16px;
}

.rank3:hover{
	color: darkorange;
}

.hop_mtop{
	height: 250px;
}

.why{
	height: 450px;
}

.why_title{
	margin-bottom: 20px;
}

.recommendTagList{
	width: 344px;
	height: 250px;
}

.recommendTagItem{
	display: inline-block;
	width: 154px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	background-color: whitesmoke;
	margin-right: 15px;
	margin-bottom: 12px;
}

.recommendTagItem:hover{
	color:darkorange;
}
