<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>登录界面</title>
		<link rel="stylesheet" href="/css/user_css/login.css">
	</head>
	<body>
		<div class="login_content">
			<!-- 页首部分 -->
			<div class="header">
				<div class="header_content">
					<a title="网上厨房" href="">
						<img src="/images/user/ecook_logo.png" class="logo1">
					</a>
					<a class="title" href="">
						<span class="title1">网上厨房</span>
						<span class="title2">好用的美食菜谱</span>
					</a>
					</div>
				</div>
				<div class="bj_pic" >
					<div class="bj_pic1">
						<div class="bj_pic2">
							<img class="logo2" src="/images/user/ecook.png" >
							<div class="bj_pic3">
									<div class="bj_pic4">
										<img src="/images/user/login_card.png" class="logo3">
									</div>
									<div class="register_bj">
										<div class="register_top">
											<span>登录</span>
											<a class="nofollwo" href="regiester">还没有账号? 去注册</a>
										</div>
											<form action="" id="fo">
												<table id="t1">
													<tr>
														<td>
															<p class="account_num">
																<label class="num">账号</label>
																<input type="text" class="tel or E-mail" placeholder="请输入手机号码或邮箱"/>
															</p>
														</td>
														</tr>
													<tr>
														<td>
															<p class="account_pwd">
																<label class="pwd">密码</label>
																<input type="text" class="password" placeholder="请输入密码"/>
															</p>
														</td>
														</tr>
												</table>
											</form>
											<p class="register" onclick="loginUsername()">登 录</p>
											<p class="yzm">
												<a class="account_yzm" href="">验证码登录</a>
											</p>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
